/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/public/css
/public/js
.php-cs-fixer.cache
/storage/clockwork
/resources/frontend/dist
/resources/frontend/node_modules
.editorconfig
/resources/frontend/package-lock.json
/resources/views/index.blade.php
/tests/coverage
